.build {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #991405;
  position: relative;
  animation: a1 2s linear infinite;
  background: #191919;
}

.build::before,
.build::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.build::before {
  border-top: 10px solid #1eb419;
  transform: rotate(120deg);
}

.build::after {
  border-top: 10px solid #2d10cf;
  transform: rotate(240deg);
}

.build span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}
